body {
  background: black;
  margin: 0;
}

#content {
  color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: 600px;
  width: 50%;
  padding: 60px;
  box-sizing: border-box;
}

#title {
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 90px;
  text-transform: uppercase;
  margin: 0;
}

#byline {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color: #e0007f;
  margin: 8px 0;
}

#description {
  font-family: 'Open Sans', sans-serif;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
  background: black url(../images/cover.jpeg) top left / 100% 100% no-repeat;
}

#canvas.loaded {
  background: none;
}

img#cover {
  position: fixed;
  left: 10000px;
}

img.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transition: opacity .5s;
}

img.background.active {
  opacity: 1;
}