body {
  position: relative;
  margin: 0;
  background: #090d1a;
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#map-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#content {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

#title-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 2.1s 3.35s;
}

#title {
  height: 50%;
  max-height: 600px;
  max-width: 100%;
  object-fit: contain;
  filter: drop-shadow(-10px 8px 6px #080d17);
}

#buttons {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0;
  transition: opacity 1.3s;
}

#buttons.visible {
  opacity: 1;
}

#links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  display: none;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #70716f;
  background: #0c111e;
  border: none;
  border-radius: 10px;
  min-height: 40px;
  min-width: 40px;
  text-decoration: none;
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
}

#buttons.visible .button {
  display: initial;
}

#links .button {
  padding: 4px;
  border-radius: 6px;
}

.icon {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: padding-box;
}

.ic-imdb {
  background-image: url(../images/imdb.png);
}

.ic-instagram {
  background-image: url(../images/instagram.png);
}

.ic-spotify {
  background-image: url(../images/spotify.png);
}

@media screen and (max-width: 460px) {
  #title-wrapper {
    padding-top: 40px;
    align-items: start;
  }
}