body {
  position: relative;
  margin: 0;
  background: #fefdfa;
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#map-image, #map-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#map-image {
  background: url(../images/map_endFrame.png) center center / cover no-repeat
}

#content {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

#title-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  height: 50%;
  max-height: 600px;
}

#buttons {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#links {
  display: flex;
  flex-direction: row;
}

.button {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #70716f;
  background: #0c111e;
  border: none;
  border-radius: 10px;
  min-height: 40px;
  min-width: 40px;
  text-decoration: none;
  margin: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
}

#links .button {
  padding: 5px;
}

.icon {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: padding-box;
}

.ic-imdb {
  background-image: url(../images/instagram.png);
}

.ic-instagram {
  background-image: url(../images/instagram.png);
}

.ic-spotify {
  background-image: url(../images/instagram.png);
}

/* #ball {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 800px;
  width: 100%;
  max-height: 85%;
  max-width: 45%;
  background: url(../images/ball.png) top right / contain no-repeat;
}

#title {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  height: 800px;
  width: 100%;
  max-height: 80%;
  max-width: 60%;
  background: url(../images/title.jpg) bottom left  / contain no-repeat;
}

.content {
  font-family: 'Open Sans', sans-serif;
  color: #555;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
}

.column {
  font-family: 'Open Sans', sans-serif;
  color: #555;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 50%;
  padding: 30px 60px;
  box-sizing: border-box;
}

.column.left {
  align-self: start;
}

.column.right {
  align-self: flex-end;
}

.bold {
  font-weight: bold;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  text-transform: uppercase;
  text-decoration: underline;
  font-style: italic;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}

a {
  color: #fefdfa;
  background: #333;
  border-radius: 10px;
  min-height: 40px;
  min-width: 40px;
  text-decoration: none;
  margin: 5px;
  padding: 8px 16px;
  box-sizing: border-box;
}

a#instagram {
  padding: 8px;
}

#instagram .icon {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/instagram.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: padding-box;
}


// Alt layout 1
#poster.full {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  object-fit: contain;
}

.content.alt {
  justify-content: space-evenly;
}

.content.alt .column {
  align-items: center;
  background: #fefdfa;
  border-radius: 20px;
  width: 600px;
  max-width: 50%;
}

// Alt layout 2
.content.alt2 {
  min-height: 100vh;
  justify-content: space-between;
  background: url(../images/LOPLOG_Poster.jpg) center / contain no-repeat;
}

.content.alt2 .column {
  color: #444;
  align-self: unset;
  width: 33%;
  min-width: 300px;
}

.content.alt2 .column.left {
  justify-content: center;
  background: linear-gradient(to right, #fefdfaee, 90%, #fefdfa00);
}

.content.alt2 .column.right {
  align-items: center;
  background: linear-gradient(to left, #fefdfaee, 90%, #fefdfa00);
}

.content.alt2 #poster {
  height: 100vh;
  object-fit: contain;
}

.content.alt2 .links {
  margin-top: auto;
}


@media screen and (max-width: 600px) {
  body {
    position: relative;
    padding-bottom: 75%;
    background: #fefdfa url(../images/title.jpg) bottom left  / contain no-repeat;
  }

  #title, #ball {
    display: none;
  }

  .content {
    flex-direction: column;
    text-align: center;
    min-height: 0;
  }

  .content.alt2 {
    background: none;
  }

  .column, .content.alt2 .column {
    width: auto;
    background: #fefdfaee;
  }

  .column.left, .content.alt2 .column.column.left {
    align-self: center;
    border-radius: 10px;
    margin: 0;
    padding: 40px 60px;
    background: url(../images/ball.png) top right / cover no-repeat;
    padding-bottom: 45%;
  }

  .column.left p {
    background: #fefdfaee;
    padding: 20px;
    border-radius: 10px;
  }

  .column.right {
    align-self: auto;
    padding: 20px;
  }

  .links, .content.alt2 .links {
    margin-top: 50px;
    justify-content: center;
  }
} */